.header_information_col {
    text-align: center;

    .header_title {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0.5rem 0 0 0;
    }

    .header_subtitle {
        font-size: 1.4rem;
    }

    .header_description {
        font-size: 1rem;
    }
}

.pricing_bg_mobile {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 1rem;

    .pricing_title {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .pricing_grid_mobile {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 1rem;

        .pricing_option, .pricing_price {
            font-size: 1.4rem;
        }

        .pricing_option {
            grid-column: 1 / 2;
        }

        .pricing_price {
            grid-column: 2 / 3;
            justify-self: end;
            text-decoration: underline;
        }

        .pricing_subtext {
            font-size: 0.8rem;
            grid-column: 1 / 3;
            justify-self: center;
            text-align: center;
            margin: 0;
        }
    }

    .pricing_divider {
        opacity: 1;
        border: 1px solid var(--white);
    }

}

.header_create_account_col {
    display: flex;
    place-content: center;
    margin: 1.25rem 0;

    .header_join_us {
        border: none;
        background-color: var(--light-green);
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 700;
        width: 10rem;
        height: 3rem;
        border-radius: 1rem;
    }
}